{{ ansible_managed | comment }}

[Shadowsocks]
title=Shadowsocks
description=Shadowsocks service with OBFS and KCPTun (nineseconds/docker-shadow)
ports={{ shadowsocks_port }}/tcp|{{ shadowsocks_port }},{{ kcptun_port }}/udp
