{{ ansible_managed | comment }}

[Shadowsocks]
title=Shadowsocks
description=Shadowsocks service with OBFS and KCPTun (nineseconds/docker-shadow)
ports={{ shadowsocks_simple_port }},{{ shadowsocks_obfs_port }}/tcp|{{ shadowsocks_simple_port }},{{ shadowsocks_obfs_port }},{{ kcptun_port }}/udp
