#!/bin/bash
# vim: set ft=sh:
{{ ansible_managed | comment }}
set -eu -o pipefail

{% if shadowsocks_port is defined %}
SS_PORT="-p {{ shadowsocks_port }}:443/tcp -p {{ shadowsocks_port }}:443/udp"
{% else %}
SS_PORT=""
{% endif %}

{% if kcptun_port is defined %}
KCP_PORT="-p {{ kcptun_port }}:445/udp"
{% else %}
KCP_PORT=""
{% endif %}

exec /usr/bin/docker run \
    --rm \
    --log-driver none \
    --name {{ container_name | quote }} \
    -v /etc/docker-shadow.json:/config.json:ro \
    {% for key, value in (shadowsocks_sysctl | dictsort) %}--sysctl {{
        "%s=%s" | format(key, value) | quote }} \
    {% endfor %} $SS_PORT $KCP_PORT {{ docker_image | quote }}
